doctype html
html(lang=language)
  head
    link(href="https://api.digitalleman.com/v2/assets/digitalleman-icon.png" rel="icon" type="image/png")
    link(href="https://ds.digitalleman.com/index.min.css" rel="stylesheet")
    meta(charset="UTF-8")
    meta(content="#AE9090" name="theme-color")
    meta(content="initial-scale=1, maximum-scale=3, minimum-scale=1, width=device-width" name="viewport")
    title Rebelote
  body
    div(class="container")
      div(class="row")
        div(class="col")
          header(class="ds-header")
            a(alt=__('Home page') class="_ds-header logo" href=`/${language}`)
              img(alt=__('Icon Digital Léman') src="https://api.digitalleman.com/v2/assets/digitalleman-icon.png")
              div Rebelote
            div(class="_ds-header hamburger" id="ds-hamburger" role="button")
              div
              div
      block content
  div(class="ds-menu z-index-medium" id="ds-menu")
    div(class="container")
      div(class="row")
        if token
          div(class="col-12")
            a(alt=__('All routines') class="ds-link" href=`/${language}`)
              div(class="_ds-link body")
                div(class="_ds-link title")= __('All routines')
              div(class="_ds-link action-icon")
                i(class="bi bi-chevron-right")
          div(class="col-12")
            a(alt=__('Sign Out') class="ds-link" href=`/${language}/sign-out`)
              div(class="_ds-link body")
                div(class="_ds-link title")= __('Sign Out')
              div(class="_ds-link action-icon")
                i(class="bi bi-chevron-right")
        if (language != 'en')
          div(class="col-12")
            a(alt="English" class="ds-link" href=`/en${path}`)
              div(class="_ds-link caption-icon")
                i(class="bi bi-globe")
              div(class="_ds-link body")
                div(class="_ds-link title") English
              div(class="_ds-link action-icon")
                i(class="bi bi-chevron-right")
        if (language != 'fr')
          div(class="col-12")
            a(alt="Français" class="ds-link" href=`/fr${path}`)
              div(class="_ds-link caption-icon")
                i(class="bi bi-globe")
              div(class="_ds-link body")
                div(class="_ds-link title") Français
              div(class="_ds-link action-icon")
                i(class="bi bi-chevron-right")
        if (language != 'pt')
          div(class="col-12")
            a(alt="Português" class="ds-link" href=`/pt${path}`)
              div(class="_ds-link caption-icon")
                i(class="bi bi-globe")
              div(class="_ds-link body")
                div(class="_ds-link title") Português
              div(class="_ds-link action-icon")
                i(class="bi bi-chevron-right")
  div(class="ds-toasts z-index-medium" id="ds-toasts")
    div(class="container")
      div(class="row")
  script(src="https://ds.digitalleman.com/index.js")
  block script