extends layout.pug

block content
  div(class="row")
    div(class="col-lg-4 offset-lg-4")
      div(class='ds-title')
        h1(class="_ds-title title")= routine.title
      each step, index in routine.steps
        a(class="ds-link-small" alt="Professional Background" href=`#${step.id}`)
          div(class="_ds-link body")
            div(class="_ds-link-small title")= `${index + 1}. ${step.title}`
          div(class="_ds-link action-icon")
            i(class="bi bi-chevron-right")
      div(class='ds-title')
        h2(class="_ds-title title")= `${__('Exécutions inachevées')} (${routine.uncompletedExecutions.length})`
      each execution in routine.uncompletedExecutions
        a(class="ds-link-small" alt="Professional Background" href=href=`/${language}/${routine.id}/execution/${execution.id}`)
          div(class="_ds-link body")
            div(class="_ds-link-small title")= execution.formattedCreatedAt(language)
            //= JSON.stringify(execution.steps)
          div(class="_ds-link action-icon")
            i(class="bi bi-chevron-right")
      div(class='ds-title')
        h2(class="_ds-title title")= `${__('Exécutions réussies')} (${routine.uncompletedExecutions.length})`
      each execution in routine.completedExecutions
        a(class="ds-link-small" alt="Professional Background" href=href=`/${language}/${routine.id}/execution/${execution.id}`)
          div(class="_ds-link body")
            div(class="_ds-link-small title")= execution.formattedCreatedAt(language)
            //= JSON.stringify(execution.steps)
          div(class="_ds-link action-icon")
            i(class="bi bi-chevron-right")
      a(alt=__('Execute') class="ds-link" href=`/${language}/${routine.id}/execute`)
        div(class="_ds-link body")
          div(class="_ds-link title")= __('Nouvelle exécution')
        div(class="_ds-link action-icon")
          i(class="bi bi-box-arrow-in-right")
      a(alt=__('All routines') class="ds-link-small" href=`/${language}`)
        div(class="_ds-link body")
          div(class="_ds-link-small title")= __('All routines')
        div(class="_ds-link action-icon")
          i(class="bi bi-chevron-right")

block script
  script(src='https://id.digitalleman.com/ID.js')
  //-script(type='importmap').
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  //-script(setup src='/routine.js' type='module')