extends layout.pug

block content
  div(class="row")
    div(class="col-lg-4 offset-lg-4")
      div(class='ds-title')
        h1(class="_ds-title title")= routine.attributes.title
      each step in routine.attributes.steps.data
        a(class="ds-link-small" alt="Professional Background" href="/")
          div(class="_ds-link body")
            div(class="_ds-link-small title")= step.attributes.title
          div(class="_ds-link action-icon")
            i(class="bi bi-chevron-right")
      div(class='ds-title')
        h2(class="_ds-title title")= __('Exécutions inachevées')
      div(class='ds-title')
        h2(class="_ds-title title")= __('Exécutions réussies')
      each execution in routine.attributes.executions.data
        a(class="ds-link-small" alt="Professional Background" href=href=`/${language}/${routine.id}/execution/${execution.id}`)
          div(class="_ds-link body")
            div(class="_ds-link-small title")= execution.attributes.createdAt
          div(class="_ds-link action-icon")
            i(class="bi bi-chevron-right")
      a(alt=__('Execute') class="ds-link" href=`/${language}/${routine.id}/execute`)
        div(class="_ds-link body")
          div(class="_ds-link title")= __('Nouvelle exécution')
        div(class="_ds-link action-icon")
          i(class="bi bi-box-arrow-in-right")
      a(alt=__('All routines') class="ds-link-small" href=`/${language}`)
        div(class="_ds-link body")
          div(class="_ds-link-small title")= __('All routines')
        div(class="_ds-link action-icon")
          i(class="bi bi-chevron-right")

block script
  script(src='https://id.digitalleman.com/ID.js')
  script(type='importmap').
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  //script(setup src='/routine.js' type='module')